.react-calendar{
    width: 100% !important;
    border: none !important;
}

abbr[title]{
    text-decoration: none !important;
    font-size: 14px !important;
}

.react-calendar__tile{
    font-size: 18px !important;
}

.react-calendar__month-view__weekdays{
    margin-bottom: 21px !important;
}

.react-calendar__tile--now{
        background: none !important;
}

.react-calendar__navigation__label{
    font-weight: 600;
    font-size: 18px;
    color: var(--main-text-color) !important;
}

.react-calendar__tile:enabled:hover{
    border-radius: 15px !important;
}

.react-calendar__month-view__days__day{
    color: var(--main-text-color) !important;
}

.react-calendar__month-view__weekdays{
    color: #9291A5 !important;
}

.react-calendar__month-view__days__day--neighboringMonth{
    color: #9291A5 !important;
}

.react-calendar__tile--active{
    background: var(--primary-color) !important;
    border-radius: 15px !important;
    color: var(--white-color) !important;
}

.react-calendar__tile{
    padding: 15px 6.6667px !important;
}

.react-calendar__tile:disabled, .react-calendar__navigation button:disabled{
    background-color: #c2c2c92a !important;
}

.navigation-none .react-calendar__navigation__next2-button,
.navigation-none .react-calendar__navigation__next-button{
    display: none !important;
}

.navigation-none .react-calendar__navigation__prev2-button,
.navigation-none .react-calendar__navigation__prev-button{
    display: none !important;
}


@media (max-width: 767px) {
    abbr[title]{
        text-decoration: none !important;
        font-size: 12px !important;
    }
    
    .react-calendar__tile{
        font-size: 14px !important;
    }
    
    .react-calendar__month-view__weekdays{
        margin-bottom: 21px !important;
    }
    
    .react-calendar__navigation__label{
        font-weight: 600;
        font-size: 16px;
    }
    
    .react-calendar__tile--active{
        background: var(--primary-color) !important;
        border-radius: 15px !important;
    }
    
    .react-calendar__tile:enabled:hover{
        border-radius: 15px !important;
    }
}